/* fix */
#top {
    background-image: url("images/aboutOverlay.png");
    background-size: cover;
    background-color: #24173f;
    opacity: 0.8;

    height: 928px;

    top: 81px;
    border-radius: 0px;
    background-blend-mode: overlay;

    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
}


#icon {
    position: absolute;
    bottom: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    position: absolute;
    top: 360px;

    color: #FFFFFF;
    font-family: 'El Messiri', sans-serif;
    font-size: 80px;
    letter-spacing: -2%;
}

.our-mission {
    position: relative;
    width: 100%;
    height: 646px;
    left: 0px;
    top: 0px;
    margin-top: 81px;
    text-align: center;
    background: #F9F1FF;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    letter-spacing: -0.02em;
    color: #4B2E83;
}

.our-mission p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 140%;

    color: #575757;

    margin: 0px 98px 0px 98px;
    padding-top: 30px;
}

.our-team {
    position: relative;
    width: 100%;
    height: 3199px;
    left: 0px;
    top: 0px;
    text-align: center;
    align-items: center;
    background: white;
}

.our-team h2 {
    padding-top: 110px;
}

.our-team .memImg {
    border-radius: 50%;
}

.our-team #mem1 {
    position: absolute;
    top: 230px;
    left: 365px;
}

.our-team .info h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 41px;
    letter-spacing: 0.04em;

    color: #2C1B4C;
}

.our-team .info h4 {
    margin-top: -5px;
    margin-bottom: 20px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 140%;

    color: #575757;
}

.our-team .info p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 161%;
    letter-spacing: 0.03em;

    color: #2C1B4C;
}

.our-team #mem1info {
    position: absolute;
    top: 230px;
    left: 815px;

    width: 582px;
    text-align: left;
}

.our-team #v12 {
    position: absolute;
    top: 630px;
    left: 650px;
}

.our-team #v11 {
    position: absolute;
    top: 760px;
    left: 700px;
}

.our-team #mem2 {
    position: absolute;
    top: 850px;
    left: 700px;
}

.our-team #mem2info {
    position: absolute;
    top: 850px;
    left: 65px;

    width: 582px;
    text-align: right;
}

.our-team #v16 {
    position: absolute;
    top: 1200px;
    left: 650px;
}

.our-team #v15 {
    position: absolute;
    top: 1277.5px;
    left: 580px;
}

.our-team #mem3 {
    position: absolute;
    top: 1390px;
    left: 375px;
}

.our-team #mem3info {
    position: absolute;
    top: 1390px;
    left: 825px;

    width: 582px;
    text-align: left;
}

.our-team #v14 {
    position: absolute;
    top: 1770px;
    left: 650px;
}

.our-team #v13 {
    position: absolute;
    top: 1857px;
    left: 687px;
}

.our-team #mem4 {
    position: absolute;
    top: 1935px;
    left: 690px;
}

.our-team #mem4info {
    position: absolute;
    top: 1935px;
    left: 55px;

    width: 582px;
    text-align: right;
}

.our-team #v18 {
    position: absolute;
    top: 2310px;
    left: 710px;
}

.our-team #v17 {
    position: absolute;
    top: 2368px;
    left: 647px;
}

.our-team #mem5 {
    position: absolute;
    top: 2455px;
    left: 370px;
}

.our-team #mem5info {
    position: absolute;
    top: 2455px;
    left: 820px;

    width: 582px;
    text-align: left;
}

.our-story-wrapper {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: #fcfaff;
}

.our-story {
    text-align: center;
    background-color: #FFFFFF;
    height: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our-story h2 {
    color: #24173f;
}

.our-story h3 {
    padding-top: 20px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 140%;

    color: #575757;
}

.our-story p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 180%;
    text-align: left;

    color: #2C1B4C;
}

.our-story a {
    padding-top: 50px;
    align-self: baseline;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #2C1B4C;
}

/* .our-story-wrapper #tableImg {
    position: absolute;
    float: right;

    object-fit: cover;

    width: 48vw;
    height: 100%;
} */

.our-story-wrapper #tableImg {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.our-story-wrapper #overlay {
    object-fit: cover;
    position: absolute;
    float: right;
    width: 50%;
    height: 100%;

    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0.3;
    background-color: #4B2E83;
}