/* footer styling */

body {
  margin: 0px;
}

footer {
  font-family: 'Montserrat', sans-serif;
  background-color: #2C1B4C;
  color: #FFFFFF;
  font-weight: 500;

  position: absolute;
  height: 400px;
  width:100%;

  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  padding-top: 68px;
}

footer h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin: 0px;
  margin-bottom: 23px;
}

footer > p {
  position: absolute;
  width: 658px;
  height: 29px;
  font-size: 18px;
  line-height: 161%;
  text-align: right;
  letter-spacing: 0.03em;
  bottom: 0px;
}

footer a {
  color: #FFFFFF;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-transform: uppercase;
}

footer p, footer a {
  font-weight: 300;
}

#col1 a {
  display: block;
  padding-bottom: 9px;
}

/* This was not specified in the figma, what should be done in this case */
footer a:hover {
  text-decoration: underline;
  text-decoration-color: lavenderblush;
}

footer button {
  font-size: 12pt;
  line-height: 17px;
  font-weight: 500;
  letter-spacing: 0.03em;
  font-family: 'Montserrat', sans-serif;

  background-color: unset;

  border: white solid .5pt;
  border-radius: 8px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding: 0px;
  width: 135px;
  height: 39px;
  margin: 0px;
}

footer button:hover{
  background-color: transparent;
}

#connect section {
  width: 211px;
  display: flex;
  justify-content: space-between;
}

#about {
  margin-bottom: 20px;

}

#questions {
  margin-bottom: 58.5px;
}


#connect img {
  width: 48px;
}

#col3 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#col3 p {
  width: 457px;
  height: 145px;
  text-align: end;
  font-size: 18px;
}

#col3 img {
  width: 129px;
  height: 158px;
}
