/* Styling for the contact page */

#top-page {
    background-image: url("./images/contact-us-hero.png");
    background-size: cover;
    background-color: #2C1B4C;
    opacity: 0.8;
    position: relative;
    height: 928px;
    width: 100vw;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    background-blend-mode: overlay;
    padding-top: 81px;
    text-align: center;
}

#top-page h1 {
    padding-top: 370px;

    font-family: 'El Messiri';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 81px;
    letter-spacing: -0.02em;

    color: #FFFFFF;
}

#top-page img {
    padding-top: 380px;
}

#in-touch {
    position: relative;
    width: 100vw;
    height: 357px;
    background: #fcfaff;
}

#in-touch-title {
    padding-top: 95px;
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 700;
    line-height: 59px;
    letter-spacing: -0.02em;
    color: #4B2E83;
}

#subtitle {
    padding-top: 31px;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 500;
    line-height: 42px;
    letter-spacing: 0em;
    color: #575757;
}

#contacting h3 {
    font-family: Montserrat;
    font-size: 34px;
    font-weight: 700;
    line-height: 41px;
    letter-spacing: -0.02em;
    color: #4B2E83;

    padding-bottom: 42px;
}

#contacting {
    position: relative;
    height: 966px;
    width: 100vw;
    background: #fcfaff;
    padding-bottom: 80px;

    display: flex;
    justify-content: space-evenly;
}

#contact-info {
    position: relative;
    width: 555px;
}

#ats {
    position: relative;
    width: auto;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 180%;

    /* Night */
    color: #2C1B4C;
}

#ats img {
    height: 48px;
    width: 48px;
    margin-right: 21px;
}

#ats a {
    color: #2C1B4C;
}


.box {
    display: flex;
    align-items:center;
    margin-bottom: 30px;
}

#brain-man {
    margin-top: 250px;
}

#send-a-message {
    position: relative;
    width: auto;
}

#message-box {
    padding-top: 11px;
    height: 795px;
    width: 666px;
    border-radius: 8px;
    background: #4B2E83;
    text-align: center;
}

#message-box input, textarea {
    overflow: hidden;
    padding-left: 16px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 180%;

    margin-top: 41px;
    width: 80%;

    background: #E5DFEB;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
}

#message-box ::placeholder {
    color: #575757;
}

.sender-info {
    height: 49px;
}

#your-message {
    height: 335px;
}

#message-box button {
    margin-top: 38px;

    padding: 16px;
    gap: 8px;

    width: 240px;
    height: 64px;

    background: #FFFFFF;
    border: 3px solid #4B2E83;
    border-radius: 8px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

/* set width causes page to scroll r to l so all components fill screen completely */
footer, #top-page, #contacting {
    min-width: 1189px;
}