#top{

    background-image: url("images/volunteer.png");
    background-size: cover;
    background-color: #24173F;
    opacity: 0.8 ;
    position: absolute;
    height: 860px;
    width: 100vw;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    background-blend-mode: overlay;

    display: flex;
    align-items: center;
    justify-content: center;
}

#icon{
    position: absolute;
    bottom: 8px;
}

#bottom {
    position: absolute;
    top: 1010px;
    width: 100vw;
}

body{
    background-color: #F9F1FF;
}

h1 {
    color: #FFFFFF;
    font-family: 'El Messiri', sans-serif;
    font-size: 80px;
    letter-spacing: -2%;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    color: #4B2E83;
    letter-spacing: -2%;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 108px;
}

h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    color: #4B2E83;
    letter-spacing: 4%;
    margin-right: 100px;
    margin-left: 100px;
}

#info{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: #24173F;
    line-height: 140%;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 80px;

}

#notice{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: #24173F;
    line-height: 140%;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 40px;
    margin-top: 120px;
}

#button{
    /* Button */
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 3%;
    font-size: 18px;
    line-height: 22px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 200px;
    color: #FFFBF2;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;

    position: static;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    background: #7E67AA;
    border-radius: 8px;
    border:none;

    width: 304px;
    height: 64px;

}

button:hover{
    background-color: #FFFFFF;
    color:#4B2E83;
}

footer {
    top: 2200px;
}

footer p, footer a {
    font-weight: 300;
}
