/* Search results page */

body {
    background-color: #fcfaff;
}

#results {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#results #searchStatement {
    padding-top: 184px;
    width:80%;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    display: flex;
    align-items: center;

    color: #2C1B4C;
}

#results #line {
    width: 80%;
    height: 0px;

    border: 0.5px solid #4B2E83;
}

.results-container {
    padding-top: 30px;
    width: 80%;
}

/* Results page */
#results h3 {
    height: 28px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 41px;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;

    color: #4B2E83;
}

#results .result-content {
    margin: 10px 0;
    width: 100%;
    height: auto;

    line-height: 45px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    display: flex;
    align-items: center;

    color: #2C1B4C;
}

footer {
    margin-top: 92px;
    /* set width causes page to scroll r to l so all components fill screen completely */
    min-width: 659px;
}