/* Search results page */

body {
    position: relative;
    background-color: #fcfaff;
}

#results #search {
    position: absolute;
    left: 143px;
    top: 166px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    display: flex;
    align-items: center;

    color: #2C1B4C;
}

#results #line {
    position: absolute;
    width: 1202px;
    height: 0px;
    left: 143px;
    top: 245px;

    border: 0.5px solid #4B2E83;
}

/* Results page */
#results h3 {
    position: absolute;
    width: 337.49px;
    height: 28px;
    left: 143px;
    top: 323px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 41px;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;

    color: #4B2E83;
}

#results p {
    position: absolute;
    width: 1225px;
    height: 56px;
    left: 143px;
    top: 377px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 180%;
    display: flex;
    align-items: center;

    color: #2C1B4C;
}

/* Testing */
footer {
    bottom: 0;
}

body {
    min-height: 150vh;
    /* Testing purposes */
}