* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

header {
    box-shadow: 0px 2px 4px rgba(75, 46, 131, 0.5);
    height: 81px;
    position: fixed;
    width: 100vw;
    background: white;
    z-index: 1;
}

header .inner {
    display: block;
    height: 100%;
    margin-left: 80px;
    margin-right: 80px;
    width: 1350px;
}

header .logo {
    align-items: center;
    display: table;
    float: left;
    height: 100%;
    vertical-align: middle;
    width: 210px;
    word-break: break-word;
}

header .logo div {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

header .logo img {
    height: 48px;
    margin-bottom: 10px;
    vertical-align: middle;
}

header .logo p {
    color: #24173f;
    font-family: 'El Messiri', sans-serif;
    font-size: 20px;
    line-height: 20px;
    margin-left: 8px;
    padding: 26px 0px;
}

header nav {
    float: right;
    height: 100%;
    margin-left: 10px;
}

header nav li {
    display: table;
    height: 100%;
    float: left;
    margin-right: 62.5px;
    margin-top: 5px;
}

header nav li:last-of-type {
    margin-right: 0;
}

header nav span {
    display: table-cell;
    vertical-align: middle;
}

header nav a {
    position: relative;
    color: #24173f;
    font-family: 'Montserrat';
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

header nav a:hover {
    color: #b3a27e;
}

/* Search bar */
header .search {
    border: 3px solid black;
    width: 300px;

    background: #e5dfeb;
    padding: 1rem;
    border-radius: 0.3rem;

    margin-top: 16px;
    margin-left: 35px;
}

header .search-wrapper {
    display: flex;
    /* flex-direction: column; */
}

header input {
    background: #e5dfeb;
    border: none;
    color: #24173f;
    font-family: 'Montserrat';
    font-size: 12px;
    font-weight: bold;
    left: 14px;
    outline: none;
    position: relative;
    width: 100%;
}

header .suggestions {
    background: red;
    gap: .25rem;
    margin-top: 1rem;
}

header .card {
    background-color: green;
    padding: .5rem;
    display: none;
}

header .show {
    display: block;
}

header .search-wrapper #circle {
    border: 2px solid #2C1B4C;
    border-radius: 50%;
    height: 11.5px;
    left: 1px;
    position: relative;
    width: 11.5px;
}

header .search-wrapper #line {
    border: 1px solid #2C1B4C;
    border-radius: 10px;
    bottom: 1.5px;
    height: 0;
    left: 12.5px;
    position: relative;
    transform: rotate(45deg);
    width: 4px;
}

header nav a:hover::after {
    content: "";

    position: absolute;
    width: 100%;
    height: 6px;
    left: 0;
    bottom: -6px;

    background-color: #B3A27E;
    border-radius: 8px;
}

body {
    position: relative;
    background-color: #fcfaff;
}

#results #search {
    position: absolute;
    left: 143px;
    top: 166px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    display: flex;
    align-items: center;

    color: #2C1B4C;
}

#results #line {
    position: absolute;
    width: 1202px;
    height: 0px;
    left: 143px;
    top: 245px;

    border: 0.5px solid #4B2E83;
}

/* Results page */
#results h3 {
    position: absolute;
    width: 337.49px;
    height: 28px;
    left: 143px;
    top: 323px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 41px;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;

    color: #4B2E83;
}

#results p {
    position: absolute;
    width: 1225px;
    height: 56px;
    left: 143px;
    top: 377px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 180%;
    display: flex;
    align-items: center;

    color: #2C1B4C;
}

/* Testing */
footer {
    height: 511px;
    width: 100vw;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: red;
}

body {
    min-height: 150vh;
    /* Testing purposes */
}